{% extends 'base.html' %}

{% block content %}

{% if error %}

<div style="color: red;">
    {{error|upper}}
</div>


{% endif %}
<style>
    .thebox {
        width: 500px;
    }
</style>



<form action="{% url 'accounts:login' %}" method="POST">
    <div class="container thebox">
        <h1>LOGIN</h1>
        {% csrf_token %}
        <div class="form-group">    
        <label for="exampleInputEmail1">Username</label>
        <input type="text" name="username" id="exampleInputEmail1" class="form-control" required>
        </div>
        <div class="form-group">
        <label for="pw">Password</label>
        <input type="password" name="password" id="pw" class="form-control" required>
        </div>
        
        <input type="submit" name="submit" id="" class="btn btn-primary" value="LOGIN">
    </div>
   
        

</form>


{% endblock %}