{% extends 'base.html' %}

{% block content %}

{% if error %}

{{error}}

{% endif %}

<style>
    .thebox {
        width: 500px;
    }
</style>

<div class="container thebox">
    <h1>SIGN UP!</h1>

    <form action="{% url 'accounts:signup' %}" method="POST">

        {% csrf_token %}
        
    <div class="form-group">
        <label for="uname">Username</label>
        <input type="text" name="username" id="uname" class="form-control" required>
    </div>
    <div class="form-group">

            <label for="pw">Password</label>
            <input type="password" name="password1" id="pw" class="form-control" required>
    </div>
    
    <div class="form-group">
        <label for="pw1">Confirm Password</label>
        <input type="password" name="password2" id="pw1" class="form-control" required >
    </div>
   
    <input type="submit" name="submit" id="" class="btn btn-primary" value="SIGN UP">

    </form>

</div>




{% endblock %}